@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-wsupreme font-normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}
@layer utilities {
  .debug {
    border: 1px solid red;
  }
}
